/* Reset básico */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: Arial, sans-serif;
     background-color: #cccccc;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 150vh;
} 
 /* Contenedor principal */
.container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
}

 /* Contenedor del video */
.video-container {
     width: 100%;
     max-width: 900px;
     height: auto;
     position: relative;
     margin-bottom: 20px;
}

 /* Estilos del video */
.video {
     width: 100%;
     height: auto;
     object-fit: cover; /* Ajusta el video para cubrir el contenedor sin distorsionarlo */
}

 /* Estilos del botón */
.button-container {
     width: 100%;
     display: flex;
     justify-content: center;
}

.button {
     background-color: #333;
     color: #fff;
     font-size: 18px;
     padding: 15px 30px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     text-transform: uppercase;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
     transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
     background-color: #555;
     transform: translateY(-2px);
}

 /* Media Query para pantallas pequeñas */
@media (max-width: 600px) {
     .video-container {
     width: 90%;
         height: 200px; /* Limita la altura del video en móviles */
     }

     .button {
     font-size: 16px;
     padding: 12px 25px;
     }
}
